
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('h2').hover(function (e) {
            console.log("Hello");
            $.ajax({
                type: "POST",
                url: '/Login/Login',
                success: function (result) {
                },
                error: function (xhr, status, error) {
                }
            });
        });
    });
</script>